body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-weight: 100;
}


header {
  background-color: #1F2937;
  color:  #F9FAF8;
  font-size: 28px;
  padding: 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header ul {
  list-style: none;
  display: flex;
  color: #E5E7EB;
  font-size: 18px;
  gap: 1em;
  margin: 0px;
  justify-content: flex-end;
}

header a, header a:link, header a:visited {
  text-decoration: none;
  color: #E5E7EB;
}

.top {
  background: #E5E7EB;
  color: #1F2937;
  text-align: left;
  padding-left: 50px; 
  padding-right: 50px;
  padding-bottom: 20px;
}

.top a, .top a:link, .top a:visited {
  text-decoration: underline;
  color: #1F2937;
}

.welcome {
  background: inherit;
  font-size: 18px;
  font-weight: 900;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.middletitle{
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 900;
  color: #1F2937;
}

.deck {
  padding: 5px 50px;
  display: flex;
  justify-content:flex-start;
  flex-flow: row wrap;
  gap: 20px;
  padding-bottom: 50px;
}


.deck a, deck a:link, deck a:visited {
  text-decoration: none;
  color: #1F2937;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;;
  border: 1px solid #1F2937;
  height: 168px;
  width: 180px;
  align-items: center;
  padding: 7px 3px;
}

.cardtitle {
  font-weight: 900;
  font-size: 16px;
  text-align: center;
}

.card img {
  margin-top: 0px;
  max-width: 170px;
  max-height: 115px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardtext {
  font-size: 14px;
  text-align: center;
}

.about:hover {
  display: block;
  font-size: 14px;
}

footer {
  background-color: #1F2937;
  color:  #F9FAF8;
  font-size: 14px;
  padding: 16px 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

footer a, footer a:link, footer a:visited {
  text-decoration: underline;
  color:  #F9FAF8;
}

button {
  border: none;
  border-radius: 20px;
  color: #1F2937;
  padding: 5px 20px;

}

.buttoncontainer {
  justify-self: end;
  margin-top: auto;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 12px;
  width: 45%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 200;
  color: #4C6A94;
  cursor: context-menu;
}
.notesClose {
  float: right;
}

.notesClose:focus {
  color: #000;
  float: right;
  text-decoration: none;
  cursor: pointer;
}